---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

    @import url('https://fonts.googleapis.com/css2?family=Dongle&family=Rye&family=Sacramento&display=swap');
	/* RESET de CSS */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	:root {
		--white: oklch(1 0 0);
		--black: oklch(0 0 0);
		--violet: oklch(18.5% 0.07 308.5);
		--dark-blue: oklch(10.4% 0.03 269.3);
		--purple: oklch(45.29% 0.244 312.88);
		--indigo: oklch(0.4465 0.1292 283.79);
		--peachy-cream: oklch(90.35% 4.85% 38.8);
		--creamy-ivory: oklch(96.47% 1.58% 73.68);
	}

	html {
		font-size: 20px;
		font-family: "Sue Ellen Francisco", cursive;
	}

	body {
		min-height: 100vh;
		line-height: 1.5;
		color: white;
		background: radial-gradient(
			circle,
			var(--violet) 1%,
			var(--dark-blue) 100%
		);
	}

	img,
	picture,
	video,
	canvas,
	svg {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
</style>

